.App{
  animation:slide 4s ease-in-out infinite alternate;
  background-image: url(./DC_National_Mall_Map.png);
  background-repeat: no-repeat;
  background-size:cover;
  top:0;
  z-index:-5;
  width: 100%;
  padding: 0px;
  margin: 0px;
  aspect-ratio: 2 /1;
}
.container{
  padding: 10%;
  margin: 0px;
  background-color: none;
  opacity: .9;
  border-radius: 80px;
  vertical-align:bottom;
}

.row {
  border-radius: 1000px;
  color: black;
  width: auto;
  padding: 0px;
  margin: 0px;
  column-gap: 15%;
  text-align: center;
  justify-content: space-evenly;
}
.row-1{
  border-radius: 1000px;
  color: black;
  width: 100%;
  padding: 0px;
  margin: 0px;
  column-gap: 15%;
  text-align: center;
  justify-content: space-evenly;
}

h1 {
  text-align:center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-style:italic;
  font-size: 80px;
  color: black;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.choice-list{
  border-radius: 100px;
  text-emphasis: center;
  text-size-adjust:inherit;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

div{
  text-align: center;
  background-color:rgb(255, 176, 103);
  align-items: center;
  justify-content: space-evenly;
  border-color: black;
}
.form.button{
  max-width: 40%;
}
.button {
  background-color: #e6f372;
  font: bolder;
  font-weight: bolder;
  font-style: italic;
  align-items: center;
  border-radius: 4px;
  cursor:hand;
  margin: 10px;
  font-size: 20px;
}

.button-1 {
  background-color: #e6f372;
  font: bolder;
  font-weight: bolder;
  font-style: italic;
  border-radius: 0vmin;
  align-items: center;
  border-radius: 16px;
  cursor:hand;
  margin: 50px;
}
.button:focus{

  background-color: #8df080;
  font: bolder;
  font-weight: bolder;
  font-style: italic;
  align-items: center;
  border-radius: 4px;
  cursor:hand;
  margin: 10px;
  font-size: 20px;

}

.main-text{
  font-weight: bolder;
  font: bolder;
  text-align: center;
}
.secondary-text{
  text-align: left;
  font-size: 90%;
}

.Modal{
 max-width: 100%;
 max-height: 80%;
 top: 50%;
 left: 50%;
 position: fixed;
 transform: translate(-50%, -50%);
}
.formInput{
  padding: 8px;
  font-weight: bolder ;
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateX(-400px);
  transition: all 2000ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(800px);
}