
.App{
  animation:slide 4s ease-in-out infinite alternate;
  background-image: url(./DC_National_Mall_Map.png);
  background-repeat: no-repeat;
  background-size:cover;

  opacity:.8;
  position:center;

  top:0;
  z-index:-5;
  width: 100%;
  padding: 0px;
  margin: 0px;
  -moz-column-count: 1;
  -moz-column-gap: 25%;
  -webkit-column-count: 1;
  -webkit-column-gap: 25%;
  column-count: 1;
  column-gap: 25%;
  text-align: center;
}

.dist{
  padding: 10px;
  width: 20%;
}
.entOption{
  padding: 10px;
  width: 20%;
}

.priceOption{
  padding: 10px;
  width: 20%;
}
.location{
  padding: 10px;
  width: 20%;
}
.ent{
  padding: 10px;
  width: 20%;
}
.rest{
  padding: 10px;
  width: 20%;
}
.row {
border-radius: 500px;
color: #050505;
width: 100%;

-moz-column-gap: 25%px;
-webkit-column-gap: 25%px;
column-gap: 25%px;
text-align: center;
}


h1 {
  text-align:center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 100px;
  color: black;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

.choice-list{
  border-radius: 30px;
  background-color: aquamarine;
  text-emphasis: center;
  text-size-adjust:inherit;
  font-family:Arial, Helvetica, sans-serif;

 
}
div{
  text-align: center;
  background-color: rgb(253, 252, 232);
  align-content: center;
  text-align: center;
  text-shadow: floralwhite;
  
  padding: 0px;
  width: auto;
}
.button {
  background-color: #e6f372;
  font: bolder;
  font-weight: bolder;
  font-style: italic;
  border-radius: 0vmin;
  align-items: center;
  border-radius: 16px;
  cursor:hand;
}

ul {
  color: #000000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.address{
  background-image:url(./DC_National_Mall_Map.png); 
  text-align: center;
  text-size-adjust: 20px;
  
}